.content {
  display: flex;
  flex-direction: column;
  text-align: center;

  .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      margin-left: auto;
    }
  }

  .posts-cta {
    font-style: italic;
    font-size: large;
    text-align: justify;
  }
}
