body {
  padding: 25px 30px 50px;
  background-color: whitesmoke;
}

:root {
  font-family: "Oswald", sans-serif;
}

.clubhouse-title {
  font-style: italic;
  text-decoration: underline;
}

.footer-line {
  border: solid 1px black;
  margin-top: 50px;
}

.error {
  overflow: auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
