doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      form(action="/account/log-out", method="post")
        input(type="submit", value="Log Out")
    block content
