doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title The Clubhouse
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      p.clubhouse The Clubhouse
      a(href="/post")
        button See All Posts 
      if user
        p.username= user.username
        if !user.isMember
          a(href="/account/member")
            button Become a Member  
        if user.isMember && !user.isAdmin
          a(href="/account/admin")
            button Become an Admin  
        form(action="/account/log-out", method="post")
          input(type="submit", value="Log Out")
      else 
        a(href="/account/log-in")
          button Log In  
        a(href="/account/sign-up")
          button Sign Up
    block content
